/*************/
/*** RESET ***/
/*************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/*************/
/* END RESET */
/*************/

/*********************/
/*** GENERAL RULES ***/
/*********************/
h1, h2, h3, h4, h5, h6, p, a, li{
  margin-top: 5px;
  color: white;
}

hr{
  width: 80%;
  border: 1px solid #EE5A42;
}

i{
  margin-right: 25px;
}

i.socials{
  font-size: 25px;
}

a{
  text-decoration: none;
}

ul li{
  list-style-type: none;
  color: white;
}

.hidden{
  opacity: 0%;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.text-center{
  text-align: center;
}
/*************************/
/*** END GENERAL RULES ***/
/*************************/

/***************/
/*** WRAPPER ***/
/***************/
.wrapper{
  width: 100%;
  height: 100vh;
}

.wrapper::after{
  content: "";
  display: table;
  clear: both;
}
/***************/
/* END WRAPPER */
/***************/

/***********************/
/*** LEFT CONTAINER ***/
/***********************/
.left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  height: 100%;

  padding: 50px;

  background-color: #1F1F1F;
}

.left-container .avatar img{
  border-radius: 50%;
}
/***********************/
/* END LEFT CONTAINER */
/***********************/

/***********************/
/*** RIGHT CONTAINER ***/
/***********************/
.right-container{
  height: 100%;

  padding: 50px;

  background-color: #222222;

  overflow: scroll;
}

.right-container .cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.right-container .project-card{
  position: relative;

  width: 100%;

  min-width: 150px;
  max-width: 600px;
  height: 300px;

  margin-top: 50px;
  padding: 5px;

  border: 1px solid white;
}

.right-container hr{
  width: 100%;
  
  margin-top: 50px;
}

.right-container .project-card h3, p{
  margin: 10px auto;
}

.right-container .project-card .card-content{
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;

}

.right-container .project-card .card-overlay{

}

.right-container .project-card .card-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;

  background-color: #EE5A42;
  border-radius: 15px;
  box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
}
.right-container .project-card .card-overlay a{
  font-size: 12px;
}


.right-container .project-card:hover .card-content{
  filter: blur(5px);
  filter: grayscale(100%);

  transition: filter 0.3s ease;
}

.right-container .project-card:hover .hidden {
  opacity: 100%;

  transition: opacity 0.3s ease;
}



/* Card IMGS */
#boolzapp {
  background-image: url("../assets/img/boolzapp.jpg");
}
#spotify{
  background-image: url("../assets/img/spotify.jpg");
}
#boolflix{
  background-image: url("../assets/img/boolflix.jpg");
}
#digital-ocean{
  background-image: url("../assets/img/digital-ocean.jpg");
}
#hubspot{
  background-image: url("../assets/img/hubspot.jpg");
}
#fluentify{
  background-image: url("../assets/img/fluentify.jpg");
}

/***********************/
/* END RIGHT CONTAINER */
/***********************/

/*********************/
/*** MEDIA QUERIES ***/
/*********************/
@media screen and (min-width: 480px) {
  .left-container{
    float: left;

    width: 300px;

    padding: 30px;
  }

  .right-container{
    float: right;

    width: calc(100% - 300px);

    padding: 30px;
  }
}
@media screen and (min-width: 768px){
  .left-container{
    float: left;

    width: 350px;
  }

  .right-container{
    float: right;

    width: calc(100% - 350px);
  }
}
/*********************/
/* END MEDIA QUERIES */
/*********************/
